## List Comprehension

List comprehension provides a concise way to create lists.It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. In these expressions, you can put all kinds of objects in lists.

In [1]:
lst1=[]
def lst_sqr(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [3]:
lst_sqr([1,23,3,4,5,6])

[1, 529, 9, 16, 25, 36]

In [5]:
lst=[1,23,3,4,5,6]
[i*i for i in lst]  #LIST COMREHENSION METHOD

[1, 529, 9, 16, 25, 36]

In [6]:
lst2=[i*i for i in lst]

In [8]:
#LIST COMREHENSION METHOD #Only for even numbers
lst3=[i*i for i in lst if i%2==0]

In [9]:
lst3

[16, 36]

### String Fromatting

In [10]:
print("Hello All")

Hello All

In [14]:
def greeting(name):
    return "Hello {} Welcome to the circle".format(name)

In [15]:
greeting("Nishit")

'Hello Nishit Welcome to the circle'

In [22]:
def welcome_email(firstname,lastname):
    return "Welcome {}. Please accept the invite {}".format(firstname,lastname)

In [23]:
welcome_email("Nishit", "Nishikant")

'Welcome Nishit. Please accept the invite Nishikant'

In [24]:
def info(name,age):
    return "Welcome {}. Age {}".format(name,age)

#Ordering of format is important

In [25]:
info("Nishit",28)

'Welcome Nishit. Age 28'

In [26]:
#For ordering of format
def info(name,age):
    return "Welcome {name}. Age {age}".format(name=name,age=age)

In [27]:
info("Nishit",28)

'Welcome Nishit. Age 28'

In [28]:
#For ordering of format
def info(name,age):
    return "Welcome {name1}. Age {age1}".format(name1=name,age1=age)

In [29]:
info("Nishit",28)

'Welcome Nishit. Age 28'

### Python List Iterables vs Iterators

In [53]:
#LIST is Iterable
#Memory allocated to variables. 
#So, memory locations are being iterated
lst = [1,2,3,4,5,6,7]
for i in lst:
    print(i)

1
2
3
4
5
6
7

In [54]:
lst1=iter(lst) #Converting list to iterator
#All the values will not intialised (Memory not initialised)
#Once we call the inbuilt function 'next', the first element present inside the iterator will be intialised

In [41]:
lst1

In [56]:
#One by one the values will be stored in the memory
#At a time, only one and then one by one the values will get stored in the memory in case of an iterator

next(lst1)

#After the last element it gives an error as nor elements left
#If you use this after using for loop it will give error as all the elements are loaded
#If after loading some elements with 'next', then using for loop will only gove the remaining elements that are no intilased by 'next'

StopIteration:

In [55]:
for i in lst1:
    print(i)

1
2
3
4
5
6
7